<div class="container">
    <div>
        

        <div class="addCategoryAndFilter">
            <button mat-raised-button color="accent" (click)="openDialog()">Add Category</button>&nbsp;
            <mat-form-field  class="mat-form-field">
                <mat-label>Filter</mat-label>
                <input style="width:'100%' !important;"  matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
            </mat-form-field>
        </div>

        <div style="margin-top:10px">

            <table mat-table [dataSource]="categoryList" matSort class="mat-elevation-z8" >

                <!-- ID Column -->
                <ng-container matColumnDef="no.">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Serial no. </th>
                    <td mat-cell *matCellDef="let element"> {{element.number}} </td>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
                    <td mat-cell *matCellDef="let element"> {{element.name}}</td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-raised-button color="accent" (click)='onEditData(element)'>Edit</button>&nbsp;

                        <!-- <button mat-raised-button color="primary" (click)='onDeleteCategory(element)'>Delete</button> -->
                        <button mat-raised-button color="primary"  (click)="openDeleteDialog(element)">Delete</button>

                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
    </div>
</div>