<div id="wrapper">
  <div id="logo">
    <div class="aligncenter">
    <img src="../assets/logo.png" style="height:80px;width:60px;margin-top: 20px;" />
      <strong style=" font-size: 30px">Online Shopping Application</strong>
  </div>
  </div>


  <div id="header-banner">
    <img src="../assets/banner.jpg" style="height: 180px; width:100%">
  </div>
  <div id="main" class="clearfix">
    <div id="sidebar">
      <div style="margin-top:140px">
        <a mat-raised-button color="accent" routerLink="/ManageCategory"> ManageCategory</a><br>
        <a mat-raised-button color="accent" routerLink="/ManageProduct"> ManageProduct </a>
      </div>
    </div>
    <div id="bodyarea">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="footer">
    © 2022 <a href="javascript:void(0);"><strong>About Us</strong></a>
  </div>
</div>