
<div>
 
  <mat-form-field class="mat-form-field" >
    <mat-label>Filter</mat-label>
    <input style="width:'100%' !important;" matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>
  <button mat-raised-button color="accent" style="margin-left: 700px;" (click)="openDialog()">Add Product</button>&nbsp;
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="productList" matSort [formGroup]="searchGroup">

    <!-- ID Column -->
    <!-- <ng-container matColumnDef="no.">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Sr. no </th>
      <td mat-cell *matCellDef="let row"> {{row.number}} </td>
    </ng-container> -->
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Index </th>
      <td  mat-cell *matCellDef="let row; let i = index;">{{i}}</td>
    </ng-container>


    <!-- Progress Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name
        <mat-form-field>
          <mat-label>Search</mat-label>
          <input matInput type="text" formControlName="prod" (keyup)="applyFilters($event,'name')" class="no-padding" />
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let row"> {{row.name}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
      <td mat-cell *matCellDef="let row"> {{row.price}} </td>
    </ng-container>

    <!-- Fruit Column -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
      <td mat-cell *matCellDef="let row"> {{row.category}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let row"> {{row.description}} </td>
    </ng-container>


    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)='onEditData(element)'>
          <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="openDeleteDialog(element)">
          <mat-icon>delete</mat-icon>
      </button>
        <!-- <button mat-raised-button color="primary" (click)='onEditData(element)'>Edit</button>&nbsp;

        <button mat-raised-button color="warn" (click)="openDeleteDialog(element)">Delete</button> -->

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
   
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>


</div>